
body
{
    
    height: 2000px;
    
}
.navbar{
    min-height: 70px;
    
}
    
/*active link*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    
    background-color:red;
}
    
/*navbar link*/
.navbar-inverse
.navbar-nav > li > a {
    color:#bbb;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
}
/*brand name*/
.navbar-inverse .navbar-brand{
    
    color:#bbb;
    font-size: 30px;
    line-height: 40px;
}
.navbar-inverse .navbar-brand span{
    color: red;
}
.dropdown-menu{
    background-color: #333;
    border-top: 3px solid red;
    min-width: 200px;
}


        
.dropdown-menu > li > a{
    
    color:#fff;
    padding: 6px 20px;
    
    
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
     background-color:red;
    color: #333;
    padding-left: 25px;
}
.dropdown-menu .divider{
    
  background-color:red;
}
.navbar-toggle {
    margin-top: 18px;
}
/*carousel*/


.carousel-caption{
    
    bottom: 70px;
    background: rgba(3,3,3,0.3);
    padding-right: 20px;
    padding-left: 20px;
   
}
.carousel-indicators li{
    height: 15px;
    width: 15px;
}
.carousel-indicators .active{
    
    height: 22px;
    width: 22px;
    background: red;
}
.carousel-indicators {
    
    bottom: 0px;
}
/*end carousel*/
/*start about section*/

.about{
    
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .lead{
    color: #888;
    font-size: 25px;
    margin-top: 15px;
    
}
.about h1 span {
    color: red;
     
}
/*end about*/
/*start features*/
.features{
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
}
.features h1 {
    padding-bottom: 50px;
}

.features .feat .p{
    line-height: 2em;
}
.features .feat span.glyphicon{
    font-size: 25;
    margin-bottom: 10px;
    color: #666;
}
/*end features*/
/*start testimonials */
.testimonials{
    padding-top: 50px;
    padding-bottom:50px; 
}
.testimonials h1{
    font-weight: bold;
    margin-bottom: 20px;
}
.testimonials .lead{
    line-height: 2em;
    margin-bottom: 10px;
}

.testimonials span
{
    font-size: 18px;
    font-weight: bold;
    color: red;
}
.testimonials .carousel-inner{
    min-height: 160px;
}
.testimonials .carousel-indicators{
    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 20px;
}
.testimonials .carousel-indicators li {
    text-indent: 0;
    width: 80px;
    height: 80px;
    opacity: 0.4;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
}
.testimonials .carousel-indicators li.active{
    opacity: 1;
    background: none;
      border: 2px solid red;
     width: 80px;
    height: 80px;
}
.testimonials .carousel-indicators li img{
    max-width: 100%;
}
/*end testimonials*/
/*start of price table*/
.price_table{
    background: #eee;
    padding-bottom: 40px;
    padding-top: 40px
}
.price_table h1{
    
    margin-bottom: 40px;
}
.price_table .price-box{
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}
.price_table .price-box h3{
    margin: 5px 0 15px;
    
}
.price_table .price-box:hover p{
    border: 1px solid red;
}
.price_table .price-box p{
    font-size: 25px;
    font-weight: bold;
    color: #666;
    width: 100px;
    height: 100px;
    background:#f3f3f3;
    border-radius: 50%;
    line-height: 100px;
    -webkit-transtion-duration:0.7s;
     -moz-transtion-duration:0.7s;
     -o-transtion-duration:0.7s;
     transtion-duration:0.7s;
    
}
.price_table .price-box ul{
    line-height: 250%;
    font-size: 15px;
}
.price_table .price-box a{
    margin-bottom: 5px;
}
/*end price section*/
/*start our time*/
.ourteam
{
    background: url(../img/img%203.jpeg) no-repeat center center fixed;
    min-height:600px;
}
.ourteam .team{
    background: rgba(2,2,2,0.7);
    color: aliceblue;
    min-height: 600px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.ourteam h1{
    margin-bottom: 60px;
}
.ourteam .person{
    margin-bottom: 40px;
}
/*end our time*/
/*start subscribe*/
.subscribe{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #eee;
} 
.subscribe h1 {
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
/*end subscribe*/


